body {
    margin: 0;
    padding: 0;
}

html {
height: 100%;
margin: 0;
font-family: Arial, sans-serif;
background-color: #738080;

background-image:
    url('images/front.png'),
    url('images/middle.png'),
    url('images/back.png');

background-size:
    contain,
    cover,
    cover;

background-position:
    top center,
    center,
    center;

background-repeat:
    no-repeat,
    no-repeat,
    no-repeat;
}

#layout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 90vh;
    padding: 30px;
    gap: 30px;
}

#map-area {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 120px;
    padding-top: 30px;
}

#map {
    position: relative;
    width: 100%;
    max-width: 900px;
}

#side-panel {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
}

#europe-map {
    width: 100%;
    height: auto;
    display: block;
}
