@font-face {
    font-family: "BubbleFont";
    src: url("../fonts/DailyBubble-OGGdA.ttf") format("truetype");
}

body {
    margin: 0;
    padding: 0;
}

html {
height: 100%;
margin: 0;
font-family: Arial, sans-serif;
background-color: #738080;

background-image:
    url('images/front.png'),
    url('images/middle.png'),
    url('images/back.png');

background-size:
    contain,
    cover,
    cover;

background-position:
    top center,
    center,
    center;

background-repeat:
    no-repeat,
    no-repeat,
    no-repeat;
}

#layout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 90vh;
    padding: 30px;
    gap: 30px;
}

#map-area {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 120px;
    padding-top: 30px;
    background: #9b9b9b;
}

#map {
    position: relative;
    width: 100%;
    max-width: 900px;
}

#side-panel {
    background: #ced8d6;
    border-radius: 12px;
}

#leaveButton {
    font-family: "BubbleFont", sans-serif;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    background-color: #ff6f61;
    color: white;
    box-shadow: 0 5px #d45b50;
    transition: all 0.2s;
}

#leaveButton:active {
    box-shadow: 0 2px #d45b50;
    transform: translateY(3px);
}

#leaveButton:hover {
    background-color: #ff8576;
}

#europe-map {
    width: 100%;
    height: auto;
    display: block;
}
