@font-face {
    font-family: "BubbleFont";
    src: url("../fonts/DailyBubble-OGGdA.ttf") format("truetype");
}

body {
    margin: 0;
    padding: 0 40px;
}

html {
    height: 100%;
    overflow: hidden;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #738080;

background-image:
    url('images/front.png'),
    url('images/middle.png'),
    url('images/back.png');

background-size:
    contain,
    cover,
    cover;

background-position:
    top center,
    center,
    center;

background-repeat:
    no-repeat,
    no-repeat,
    no-repeat;
}

#top {
    position: relative;
    height: 70px;
}

#leaveButton {
    font-family: "BubbleFont", sans-serif;
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    background-color: #ff6f61;
    color: white;
    box-shadow: 0 5px #d45b50;
    transition: all 0.2s;
}

#leaveButton:active {
    box-shadow: 0 2px #d45b50;
    transform: translateY(3px);
}

#leaveButton:hover {
    background-color: #ff8576;
}

#game-layout {
    display: flex;
    height: calc(100vh - 70px);
    gap: 25px;
}

#left-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    position: relative;
}

#helpButton {
    font-family: "BubbleFont", sans-serif;
    padding: 12px;
    border-radius: 15px;
    border: none;
    background: #ff6f61;
    color: white;
    cursor: pointer;
    box-shadow: 0 5px #d45b50;
    box-sizing: border-box;
}

#helpButton:active {
    box-shadow: 0 2px #d45b50;
    transform: translateY(2px);
}

#helpBubble {
    position: absolute;
    top: 80px;
    left: 20px;
    width: 600px;
    background-color: #ced8d6;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    padding: 15px;
    display: none;
    z-index: 2000;
}

#countrylist_title {
    text-align: center;
    font-weight: bold;
    font-family: "BubbleFont", sans-serif;
    color: #556060;
}

#countryList {
    display: flex;
    gap: 12px;
    padding: 2px 2px;
}

.country-column {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.country-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 8px;
    border-radius: 8px;
    width: 140px;
}


#info-box {
    background: #ced8d6;
    border-radius: 15px;
    padding: 15px;
    min-height: 220px;
    font-size: 20px;
    line-height: 1.5;
    font-family: "BubbleFont", sans-serif;
    color: #556060;
    text-align: center;
    font-weight: bold;
}

#flag-box {
    background: #ced8d6;
    border-radius: 15px;
    padding: 15px;
    min-height: 220px;
    font-size: 17px;
    line-height: 1.5;
    font-family: "BubbleFont", sans-serif;
    color: #556060;
    text-align: center;
    font-weight: bold;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

#theFlag {
    width: 70px;
    height: auto;
    border: 6px;
    margin-top: 5px;
}

#center {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#map-area {
    width: 100%;
    max-width: 900px;
    height: auto;
    max-height: calc(100vh - 220px);
    background: rgba(85, 96, 96, 0.75);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#europe-map {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
    object-fit: contain;
}

#guess-area {
    margin-top: 22px;
    display: flex;
    gap: 10px;
}

#guess-input {
    padding: 10px 14px;
    font-size: 15px;
    border-radius: 15px;
    border: none;
    outline: none;
}

#guess-button {
    font-family: "BubbleFont", sans-serif;
    padding: 12px;
    border-radius: 15px;
    border: none;
    background: #ff6f61;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px #d45b50;
}

#guess-button:active {
    box-shadow: 0 2px #d45b50;
    transform: translateY(2px);
}

#right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#status-box {
    background: #ced8d6;
    border-radius: 15px;
    padding: 15px;
    height: 500px;
    min-height: 220px;
    overflow-y: auto;
    font-size: 20px;
    line-height: 1.5;
}

#history-box {
    background: #ced8d6;
    border-radius: 15px;
    padding: 15px;
    margin-top: 20px;
    flex: 1;
    overflow-y: auto; /* scroll */
}

#adventure-title {
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
    font-family: "BubbleFont", sans-serif;
    color: #556060;
}

.loading-dots::after {
    content: "...";
    animation: dots 1.2s steps(3, end) infinite;
}

@keyframes dots {
    0% { content: ""; }
    33% { content: "."; }
    66% { content: ".."; }
    100% {content: "..."; }
}

#adventure-log {
    overflow-y: auto;
    max-height: 300px;
}

#status {
    list-style: none;
    padding-left: 0;
}

#status li {
    padding: 6px 10px;
    border-bottom: 1px solid #bbb;
    font-size: 18px;
    line-height: 1.4;
}

#all-found {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "BubbleFont", sans-serif;
    font-size: 70px;
    color: #ff6f61;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 25px 50px;
    border-radius: 20px;
    display: none;
    z-index: 9999;
    text-align: center;
    animation: pop 0.4s ease-out;
}


@keyframes pop {
    0% { transform: translate(-50%, -50%) scale(0.4); opacity: 0; }
    100% { transform: translate(-50%, -50%) scale(1); opacity: 1; }
}

@media (max-width: 1000px) {
    #left-side {
        flex: 0 0 180px;
    }
    #right-side {
        flex: 0 0 200px;
    }
}