@font-face {
    font-family: "BubbleFont";
    src: url("../fonts/DailyBubble-OGGdA.ttf") format("truetype");
}

html, body {
height: 100%;
margin: 0;
font-family: BubbleFont, sans-serif;
background-color: #738080;

background-image:
    url('images/front.png'),
    url('images/middle.png'),
    url('images/back.png');

background-size:
    contain,
    cover,
    cover;

background-position:
    top center,
    center,
    center;

background-repeat:
    no-repeat,
    no-repeat,
    no-repeat;
}

/* CENTER CONTENT */
.content {
    text-align: center;
    display: flex;
    margin: 100px auto;
    flex-direction: column;
    gap: 20px;
    padding: 40px 30px;
    width: 500px;
    max-width: 90%;

    background: #ced8d6;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

/* HEADING */
.thanks {
    font-size: 32px;
    margin: 0;
}


#text {
    font-size: 20px;
    font-weight: bold;
    color: #294747;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.5);
    animation: slideDown 1s ease-out;
}

h1 {
    font-size: 3em;
    margin-bottom: 30px;
    color: #213737;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.5);
    animation: slideDown 1s ease-out;
}

.scoreboard {
    position: absolute;
    top: 100px;
    right: 50px;
    width: 250px;
    padding: 20px;
    background: #ced8d6;
    font-size: 16px;
    text-align: center;
    color: #213737;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.5);
    animation: slideDown 1s ease-out;
    border-radius: 20px;
}

.scoreboard h2 {
    font-size: 20px;
    margin-bottom: 5px;
}

#restartButton, button {
    font-family: BubbleFont, sans-serif;
}

/* restart button */
#restartButton {
    font-weight: bold;
    font-size: 1em;
    position: absolute;
    padding: 12px;
    border-radius: 15px;
    border: none;
    top: 20px;
    right: 20px;
    background: #ff6666;
    box-shadow: 0 3px #d45b50;
    color: white;
    cursor: pointer;
}

#restartButton:hover {
    background: #ff4444;
}

#restartButton:active {
    box-shadow: 0 1px #d45b50;
    transform: translateY(2px);
}


.danceMonkey {
    position: fixed;
    top: 50%;
    left: 120px;
    transform: translateY(-50%);
    width: 200px;
    z-index: 500;
}

.danceMonkey img {
    width: 200px;
    height: auto;
}

.trophy {
    position: fixed;
    top: 50%;
    right: 120px;
    transform: translateY(-50%);
    width: 200px;
    z-index: 500;
    animation: wiggle 1.5s ease-in-out infinite;
}

.trophy img {
    width: 200px;
    height: auto;
}

/* Animaatiot */

@keyframes slideDown {
from { transform: translateY(-50px); opacity: 0; }
to { transform: translateY(0); opacity: 1; }
}

@keyframes wiggle {
    0%   { transform: translateY(-50%) rotate(0deg); }
    25%  { transform: translateY(-50%) rotate(-10deg); }
    50%  { transform: translateY(-50%) rotate(0deg); }
    75%  { transform: translateY(-50%) rotate(10deg); }
    100% { transform: translateY(-50%) rotate(0deg); }
}